<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">

    <delete id="deleteAllComment">
        delete from comment where board_seq= #{board_seq} 
    </delete>
    
    <select id="getDetailBoardComments" resultType="map">
	    SELECT 
	        c.comment_seq,
	        c.board_seq,
	        c.parent_comment_seq,
	        c.user_id,
	        c.is_deleted,
	        c.is_reported,
	        c.created_at,
	        c.comment_content,
	        u.nickname
	    FROM comment c
	    JOIN user u ON c.user_id = u.user_id
	    WHERE c.board_seq = #{board_seq}
	</select>
	
	<insert id="postComment">
		insert into comment (board_seq, parent_comment_seq, user_id, created_at, comment_content)
		values (#{board_seq}, #{parent_comment_seq}, #{user_id}, now(), #{comment_content})
	</insert>
	
	<select id="findTargetDTO" resultType="com.kedu.project.comment.CommentDTO">
		select * from comment where comment_seq=#{comment_seq} and user_id=#{user_id}
	</select>

	<select id="findTargetPDTO" resultType="com.kedu.project.comment.CommentDTO">
		select * from comment where comment_seq=#{comment_seq} 
	</select>
    
    <select id="getChildCount" resultType="int">
    	select count(*) from comment where parent_comment_seq = #{comment_seq}
    </select>
	
	<update id="softDeleteParent">
		UPDATE comment SET is_deleted = 1 WHERE comment_seq = #{comment_seq}
	</update>
	
	<delete id="strictDelete">
		DELETE FROM comment WHERE comment_seq = #{comment_seq}
	</delete>
	
	<update id="updateComment">
		update comment set comment_content =#{comment_content} where user_id = #{user_id} and comment_seq = #{comment_seq}
	</update>

	<select id="getCommentWriterId" resultType="String">
		select user_id from comment where comment_seq = #{parent_comment_seq}
	</select>

	<select id="getCommentWriterIdByCommentSeq" resultType="String">
		select user_id from comment where comment_seq = #{comment_seq}
	</select>
</mapper>