<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">

    <select id="getThumsFromTo" resultType="com.kedu.project.file_info.FileDTO">
        select * from file_info
        where target_type = 'board/thumb' and target_seq in
        <foreach collection="list" item="seq" open="(" separator="," close=")">
        	#{seq}
        </foreach>
    </select>
    
    <insert id="insert">
    	insert into file_info(sysname, oriname, user_id, target_type, target_seq,created_at)
    	values
    	<foreach collection="list" item="file" separator=",">
    		(#{file.sysname}, #{file.oriname}, #{file.user_id}, #{file.target_type}, #{file.target_seq}, NOW())
    	</foreach>
    </insert>
    
    <insert id="insertTemp" parameterType="com.kedu.project.file_info.FileDTO">
	  insert into file_info (sysname, oriname, user_id, target_type, created_at)
	  values (#{sysname}, #{oriname}, #{user_id}, #{target_type}, null)
	</insert>
	
	<update id="confirmImg" parameterType="map">
		update file_info set target_seq=#{target_seq}, created_at= now()
		where sysname in
			<foreach collection="imageSysList" item="sysname" open="(" separator="," close=")">
				#{sysname}
			</foreach>
	</update>

    <insert id="saveThumbnail" parameterType="com.kedu.project.file_info.FileDTO">
	  insert into file_info (sysname, oriname, user_id, target_type, target_seq, created_at)
	  values (#{sysname}, #{oriname}, #{user_id}, #{target_type}, #{target_seq}, NOW())
	</insert>
	
	<select id="findOriNameBySysName" resultType="string">
	    select oriname from file_info where sysname = #{sysname}
	</select>
	
	<select id="getDetailBoardFile" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where target_type = #{target_type} and target_seq = #{target_seq}
	</select>
	
	<select id="getFilesByParent" parameterType="map" resultType="com.kedu.project.file_info.FileDTO">
		select * from file_info where target_seq = #{target_seq} and user_id= #{user_id} and target_type like concat(#{target_type}, '%')
	</select>

	<delete id="deleteAllFile" parameterType="map">
		delete from file_info where target_seq = #{target_seq} and user_id = #{user_id} AND target_type LIKE CONCAT(#{target_type}, '%')
	</delete>
	
	<select id="getTempFiles" resultType="com.kedu.project.file_info.FileDTO">
		select * from file_info where target_seq IS NULL or created_at IS NULL
	</select>
	
	<delete id="deleteFileBySysname">
		delete from file_info where sysname = #{sysname}
	</delete>
	
	<select id="getThumbnailsByBoardSeq" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where target_type = #{target_type} and target_seq = #{target_seq}
	</select>
	
	<select id="getFileBySeq" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where file_seq = #{file_seq}
	</select>
	
	<delete id="deleteFileBySeq">
		delete from file_info where file_seq = #{file_seq}
	</delete>
	
	<select id="findBySysname" resultType="com.kedu.project.file_info.FileDTO">
	    select * from file_info where sysname = #{sysname}
	</select>
	
</mapper>